* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
  opacity: background 0.5;
  background-image: radial-gradient(
    #000000 0.8500000000000001px,
    #f9f9f9 0.8500000000000001px
  );
  background-size: 17px 17px;
}
